DEBUG=
SECRET_KEY=

REDIS_HOST=

SENTRY_URL=

ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

POSTGRES_DB_TEST=
DB_TEST_HOST=
POSTGRES_TEST_USER=
POSTGRES_TEST_PASSWORD=
DB_TEST_PORT=
